# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# --- Build Artifacts ---
*.zip
**/build/
dist/
*.egg-info/
.installed.cfg
*.egg
**/lambda_function.js
**/lambda_function.js.map

# --- OS ---
.DS_Store
Thumbs.db
