.player {
  position: relative;
  
  .playerName {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--line-color-light);
    transition: color 0.3s ease;
  }

  .line {
    position: absolute;
  }

  .playerTimeline {
    stroke: var(--line-color-light);
    stroke-width: 1.5;
    transition: stroke 0.2s ease, stroke-width 0.2s ease;
  }

  &:hover .playerTimeline {
    stroke: var(--playline-hover);
  }

  &:hover .playerName {
    color: var(--playline-hover);
  }
}
