.player {
  position: relative;
  
  .playerName {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // &:hover {
    //   overflow: visible;
    //   white-space: wrap;
    // }
  }

  .line {
    position: absolute;
  }
}
